<video #video autoplay loop preload="auto" muted="muted" disablePictureInPicture>
  <source type="video/mp4" src="assets/video-wave-1200.mp4">
  <source type="video/webm" src="assets/videowave-1200.webm">
  Your browser does not support the video tag.
</video>

<div class="main" (click)="click()">

  <div class="shop" (click)="open_shop()" style="z-index: 10000;">
    <img src="assets/icons/shop.svg" alt="">
  </div>
  <div class="menu" (click)="open_info()" style="z-index: 10000;">
    <img src="assets/icons/menu.svg" alt="">
  </div>
  <div class="nombre">
    <p>{{user.name}}</p>
    <p>-</p>
    <div class="bx">
      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px" viewBox="0 0 454.635 454.635" style="enable-background:new 0 0 4.635 454.635;"
        xml:space="preserve">
        <path id="oilo" d="M286.306,301.929h-17.472L295.141,82.85c0.708-5.89-1.709-13.694-5.621-18.155L236.506,4.255
      	C234.134,1.551,230.785,0,227.317,0s-6.816,1.551-9.188,4.255l-53.015,60.439c-3.912,4.461-6.328,12.266-5.621,18.155
      	l26.307,219.079h-17.472c-8.412,0-15.256,6.844-15.256,15.256v18.984c0,8.412,6.844,15.256,15.256,15.256h37.118v33.143
      	c-10.014,6.95-16.588,18.523-16.588,31.609c0,21.206,17.252,38.458,38.458,38.458s38.458-17.252,38.458-38.458
      	c0-13.086-6.574-24.659-16.588-31.609v-33.143h37.118c8.412,0,15.256-6.844,15.256-15.256v-18.984
      	C301.562,308.772,294.718,301.929,286.306,301.929z" />
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
      </svg>

      <p>{{ attack }}</p>
    </div>
    <div class="bx">
      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px" viewBox="0 0 490 490" style="enable-background:new 0 0 490 490;" xml:space="preserve">
        <g>
          <g>
            <g>
              <path id="cu" d="M467.8,189.4c18.7,75.4-1.4,158.4-60.4,217.3C348,466.2,264,486.1,188.1,466.6c28.4,14.7,60.7,23,95,23
      				C397.4,489.6,490,397,490,282.7C490,249.2,482,217.5,467.8,189.4z" />
            </g>
            <g>
              <path id="cd" d="M430.4,151.9c18.7,75.4-1.4,158.4-60.4,217.3c-59.4,59.4-143.4,79.4-219.4,59.8c28.4,14.7,60.7,23,95,23
      				c114.3,0,206.9-92.6,206.9-206.9C452.5,211.6,444.5,179.9,430.4,151.9z" />
            </g>
            <path id="ct" d="M206.9,0.4C92.6,0.4,0,93,0,207.3s92.6,206.9,206.9,206.9s206.9-92.6,206.9-206.9S321.2,0.4,206.9,0.4z M225.7,317.1v13
      			c0,10.4-8.4,18.8-18.8,18.8c-10.4,0-18.8-8.4-18.8-18.8v-13c-11-3.3-21.1-9.4-29-17.9c-7.1-7.5-6.7-19.4,0.8-26.5
      			s19.4-6.7,26.5,0.8c5.4,5.7,12.6,8.8,20.5,8.8c15.5,0,28.1-12.6,28.1-28.1s-12.6-28.1-28.1-28.1l0,0c-36.2,0-65.6-29.4-65.6-65.6
      			c0-29.7,19.8-54.8,46.9-62.9v-13c0-10.4,8.4-18.8,18.8-18.8c10.4,0,18.8,8.4,18.8,18.8v13c11,3.3,21.1,9.4,29,17.9
      			c7.1,7.5,6.7,19.4-0.8,26.5c-7.5,7.1-19.4,6.7-26.5-0.8c-5.4-5.7-12.6-8.8-20.5-8.8c-15.5,0-28.1,12.6-28.1,28.1
      			s12.6,28.1,28.1,28.1l0,0c36.2,0,65.6,29.4,65.6,65.6C272.6,283.8,252.8,309,225.7,317.1z" />
          </g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
      </svg>

      <p>{{user.actual_coins}}</p>
    </div>
  </div>

  <div class="actualLevel">
    <p>LV: {{user.actualLevel}}</p>
    <hr>
    <p>HP Total: {{monster.hp_monster_total}}</p>
  </div>
  <app-enemie class="enemie" [color_u]="color_pairs[num_rand][0]" [color_d]="color_pairs[num_rand][1]" [style]="style">
  </app-enemie>
  <div class="contianer">
    <div class="progress">
      <div class="progress-bar" [style.width]="porcentaje_vida_c" #progress></div>
      <p> {{porcentaje_vida}}%</p>
    </div>
  </div>
</div>

<div class="passLevel" [class]="pass_level_class">
  <div class="content">
    <img src="assets/icons/happy.svg" alt="">
    <p>
      Felicidades! Has pasado al nivel {{user.actualLevel}}
    </p>
    <button (click)="resetpage()">Continuar</button>
  </div>
</div>


<div class="shopMenu" [class]="shop_menu_class">
  <app-upgrade-damage-menu></app-upgrade-damage-menu>
</div>

<div class="infoMenu" [class]="info_menu_class">
  <app-info-menu></app-info-menu>
</div>
