<div class="content">
  <h3 style="color: #fff;">Gracias por probar mi juego</h3>

  <div class="bx">
    <div class="upgrade">
      <div class="dd">
        <a href="https://www.facebook.com/jason.snz.3">my facebook</a>
      </div>
      <div class="dd">
        <a href="https://github.com/Bryan-Herrera-DEV/blob-monster-game">repo link</a>
      </div>
      <div class="dd">
        <a href="https://github.com/Bryan-Herrera-DEV">my github</a>
      </div>
      <div class="dd">
        <a href="https://www.linkedin.com/in/bryan-herrera-dev/">my linkdin</a>
      </div>
    </div>
  </div>
</div>
