.content {
  background: rgba($color: #fff, $alpha: 0.4);
  box-shadow: 0px 0px 40px 4px rgba($color: #fff, $alpha: 0.3);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  p {
    margin: 0;
    padding: 0;
  }

  .bx {
    width: 100%;

    .upgrade {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;

      img {
        width: 20px;
        height: 20px;
        filter: invert(100%);
      }

      .dd {
        align-items: center;
        display: flex;
        justify-content: start;
        padding: 7px;
        border: 3px solid;
        background: rgba(3, 10, 46, 0.7);
        color: #ffffff;
        border-color: rgba(58, 72, 143, 0.3);
        border-radius: 10px;

        p {
          margin: 0;
          padding: 0;
          color: #fff;
          font-size: 17px;
          font-weight: bold;
        }
      }



      button {
        display: flex;
        padding: 10px;
        gap: 7px;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        border: 3px solid;
        background: rgba(3, 10, 46, 0.7);
        color: #ffffff;
        border-color: rgba(58, 72, 143, 0.3);
        padding: 7px;
        transition: all 300ms;
        border-radius: 10px;

        &:hover {
          background: rgba(255, 255, 255, 0.01);
        }
      }
    }
  }

  // img {
  //   width: 50%;
  //   height: 50%;
  //   filter: invert(100%);
  // }

  // p {
  //   color: #fff;
  //   font-size: 17px;
  //   font-weight: bold;
  // }

  // button {
  //   cursor: pointer;
  //   border: 3px solid;
  //   background: rgba(3, 10, 46, 0.7);
  //   color: #ffffff;
  //   border-color: rgba(58, 72, 143, 0.3);
  //   padding: 7px;
  //   transition: all 300ms;
  //   border-radius: 10px;
  // }

  // button:hover {
  //   background: rgba(255, 255, 255, 0.1);
  // }
}
